<footer th:fragment="footer" class="fb-footer">
    <div class="container fb-footer-inner">

        <div class="row g-4 align-items-start">

            <div class="col-12 col-lg-4">
                <div class="fb-footer-block">
                    <div class="fb-footer-title">Frodo Barber</div>
                    <p class="fb-footer-muted">
                        Strzyżenie włosów i brody • Oborniki Śląskie
                    </p>

                    <div class="fb-social">
                        <a class="fb-social-link"
                           href="https://www.facebook.com/FrodoBarber96"
                           target="_blank"
                           rel="noopener">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="fb-social-link"
                           href="https://www.instagram.com/frodobarber/"
                           target="_blank"
                           rel="noopener">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                        <div class="fb-social-link">
                            <a class="btn btn-gold" href="https://maps.app.goo.gl/mzknXSTxS4wZ5GfbA" target="_blank"
                               rel="noopener">
                                Jak dojechać?
                            </a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="fb-footer-block">
                    <div class="fb-footer-title">Dane kontaktowe</div>

                    <div class="fb-contact">
                        <div class="fb-contact-row">
                            <span class="fb-contact-label">Adres:</span>
                            <span class="fb-contact-value">
                                ul. Tadeusza Kościuszki 16/7<br>
                                55-120 Oborniki Śląskie
                            </span>
                        </div>

                        <div class="fb-contact-row">
                            <span class="fb-contact-label">Tel:</span>
                            <span class="fb-contact-value fb-link">+48 888 317 864</span>
                        </div>

                        <div class="fb-contact-row">
                            <span class="fb-contact-label">E-mail:</span>
                            <span class="fb-contact-value fb-link">frodobarber96@gmail.com</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="fb-footer-block">
                    <div class="fb-footer-title">Informacje</div>
                    <p class="fb-footer-muted mb-2">Rezerwacje online dostępne w panelu klienta.</p>
                    <p class="fb-footer-muted mb-0">Jeśli nie ma terminów - napisz lub zadzwoń.</p>
                </div>
            </div>

        </div>

        <div class="fb-footer-bottom">
            <p class="mb-0">&copy; 2026 Frodo Barber Management System. All rights reserved.</p>
        </div>

    </div>
</footer>