<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark sticky-top fb-navbar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <div class="logo">
                <img th:src="@{/images/logo.jpg}" alt="logo" class="img-fluid rounded shadow">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link btn fb-navbtn ms-lg-3" th:href="@{/admin/dashboard}">Panel Admina</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('BARBER')">
                    <a class="nav-link btn fb-navbtn ms-lg-3" th:href="@{/barber/dashboard}">Panel Barbera</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                    <a class="nav-link btn fb-navbtn ms-lg-3" th:href="@{/client/dashboard}">Umów wizytę</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                    <a class="nav-link btn fb-navbtn ms-lg-3" th:href="@{/client/my-profile}">Mój profil</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link btn fb-navbtn ms-lg-3" th:href="@{/login}">Zaloguj się</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="d-inline">
                        <button type="submit" class="nav-link btn fb-navbtn ms-lg-3">Wyloguj</button>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="tel:+48888317864" class="phone-link btn fb-navbtn ms-lg-3">Tel: +48 888 317 864</a>
                </li>

                <li>
                    <div class="fb-navbtn">
                        <div class="fb-social">
                            <a class="fb-social-link-nav"
                               href="https://www.facebook.com/FrodoBarber96"
                               target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="fb-navbtn">
                        <div class="fb-social">
                            <a class="fb-social-link-nav"
                               href="https://www.instagram.com/frodobarber/"
                               target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
